<nav class="navbar navbar-dark w-100">
  <div class="container">
    <%= link_to root_url, class: 'navbar-brand' do %>
      Sheen
    <% end %>
    <ul class="navbar-nav flex-row">
      <li class="nav-item ml-5">
        <%= link_to 'link', '', class: 'nav-link' %>
      </li>
      <li class="nav-item ml-5">
        <%= link_to 'link', '', class: 'nav-link' %>
      </li>
      <li class="nav-item ml-5">
        <%= link_to 'link', '', class: 'nav-link font-weight-bold' %>
      </li>
    </ul>
  </div>
</nav>
